* {
    font-family: 'Oxygen', 'Sans serif', 'Arial';
}

body {
    background-color: #292836;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    overflow: hidden;
}

body.scrollable,
body.mobile {
    overflow: auto;
}

.mobile .hide-on-mobile {
    display: none !important;
}

.container {
    overflow: hidden;
}

#title {
    position: fixed;
    left: 25px;
    top: 25px;
    z-index: 10;
}
.mobile #title {
    position: relative;
    left: 0;
    top: 0;
    margin: 40px 0 20px 0;
    padding: 20px;
    text-align: center;
}

#intro {
    position: fixed;
    left: 25px;
    bottom: 25px;
    z-index: 10;
    font-family: 'Merriweather' !important;
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    transition: opacity 0.5s ease-in-out;
}
.mobile #intro {
    position: relative;
    left: 0;
    bottom: 0;
    margin: 40px 0;
    padding: 20px;
    text-align: center;
}

.controls {
    position: fixed;
    right: 25px;
    top: 25px;
    width: 200px;
    height: 700px;
    z-index: 10;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    transition: right 0.5s ease-in-out;
}
.mobile .controls {
    position: relative;
    right: 0 !important;
    top: 0;
    margin: 40px 0;
    padding: 20px;
    width: auto;
    transition: none;
}

.headline {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

a {
    font-family: inherit;
    color: #fff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.footer-link {
    font-size: 12px;
    font-weight: 400;
    color: #898898;
}

.button {
    margin-bottom: 10px;
    padding: 10px 10px;
    border: 1px solid #898898;
    background-color: rgba(255, 255, 255, 0.08);
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    transition: background 0.5s;
}
.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.button.block {
    display: block;
    width: 100%;
    padding: 10px 0;
}

.ui-slider {
    height: 4px;
    margin: 30px 0 50px;
    border-radius: 0;
    border: 1px solid #898898;
    background-color: rgba(255, 255, 255, 0.08);
}
.ui-slider-vertical {
    height: calc(100% - 210px);
    width: 4px;
    margin-left: 160px;
}
.ui-slider .ui-slider-handle {
    width: 20px;
    height: 20px;
    top: -8px;
    border-radius: 10px;
    border: none;
    background: #e8e8e8;
    outline: none;
    cursor: pointer;
}
.ui-slider-vertical .ui-slider-handle {
    top: auto;
    left: -8px;
}
.ui-slider .text {
    margin-top: 15px;
    font-family: 'Merriweather';
    font-style: italic;
    font-size: 12px;
    color: #fff;
}
.ui-slider .prev-year {
    float: left;
}
.ui-slider .next-year {
    float: right;
}
.ui-slider .now {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.ui-slider-vertical .text {
    position: absolute;
    float: none;
    margin-top: 0;
    margin-left: -160px;
    width: 140px;
    height: 20px;
    text-align: right;
}
.ui-slider-vertical .prev-year {
    bottom: -6px;
}
.ui-slider-vertical .next-year {
    top: -6px;
}
.ui-slider-vertical .now {
    top: calc(50% - 10px);
}




#heliocentric_container {
    display: block;
    overflow: hidden;
    margin: 0 auto;
}
#heliocentric_container .orbit {
    fill: none;
    stroke: #696879;
}
#heliocentric_container .orbit,
#heliocentric_container .planet,
#heliocentric_container #hc_sun{
    transition: all 1s ease-in-out;
}
#heliocentric_container.no-transition .orbit,
#heliocentric_container.no-transition .planet,
#heliocentric_container.no-transition #hc_sun{
    transition: none;
}

#hc_sun {
    fill: #f5d550;
}
#hc_mercury {
    fill: #72705c;
}
#hc_venus {
    fill: #D98B4C;
}
#hc_earth {
    fill: #7dafb7;
}
#hc_mars {
    fill: #F75D45;
}
#hc_jupiter {
    fill: #9b6f41;
}
#hc_saturn {
    fill: #A3A67B;
}
#hc_uranus {
    fill: #569683;
}
#hc_neptune {
    fill: #74739d;
}
#hc_pluto {
    fill: #a7bfbc;
}




#exploration_controls {
    right: -300px;
}

#exploration_container {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.mobile #exploration_container {
    opacity: 1;
}

#planet_list {
    width: 100%;
    height: calc(100% - 100px);
    margin: 0;
    padding: 0;
    list-style: none;
}
#planet_list li {
    margin-bottom: 10px;
    font-family: 'Merriweather';
    font-style: italic;
    font-size: 14px;
}